<%= form_for(calificacion_pelicula) do |f| %>
  <% if calificacion_pelicula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calificacion_pelicula.errors.count, "error") %> prohibited this calificacion_pelicula from being saved:</h2>

      <ul>
      <% calificacion_pelicula.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_calificacion_pelicula %>
    <%= f.number_field :id_calificacion_pelicula %>
  </div>

  <div class="field">
    <%= f.label :nombre_calificacion_pelicula %>
    <%= f.text_field :nombre_calificacion_pelicula %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
