<p id="notice"><%= notice %></p>

<h1>Calificacion Peliculas</h1>

<table>
  <thead>
    <tr>
      <th>Id calificacion pelicula</th>
      <th>Nombre calificacion pelicula</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calificacion_peliculas.each do |calificacion_pelicula| %>
      <tr>
        <td><%= calificacion_pelicula.id_calificacion_pelicula %></td>
        <td><%= calificacion_pelicula.nombre_calificacion_pelicula %></td>
        <td><%= link_to 'Show', calificacion_pelicula %></td>
        <td><%= link_to 'Edit', edit_calificacion_pelicula_path(calificacion_pelicula) %></td>
        <td><%= link_to 'Destroy', calificacion_pelicula, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calificacion Pelicula', new_calificacion_pelicula_path %>
